.offer {
    height: 726px;
    background-color: #f1f1f1;
}


.offer h2 {
    padding-top: 43px;
    margin-left: 69px;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-weight: 500;

}

.offer .text_underline:after {
    margin-top: 8px;
    margin-left: -2px;
    width: 320px;
}

.offer_flex {
    display: flex;
    justify-content: space-between;
    margin: 90px 83px 0px 65px;
}


.plan {
    border: 2px solid lightgray;
    border-radius: 3px;
    width: 330px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}


.plan:after {
    content: "";
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 2px solid lightgray;
    right: 134px;
    top: -39px;
    z-index: 2;
    background-color: white;
}

.plan:before {
    content: "";
    position: absolute;
    background-color: #c2c2c2;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    z-index: 3;
    right: 149px;
    top: -23px;
}

.plan_name {
    font-size: 22px;
    font-weight: 700;
    margin-top: 27px;
    letter-spacing: 0.25px;
    margin-bottom: -20px;
    margin-left: 10px;
    color: #27c7ab;
}

.plan:nth-child(3) .plan_name {
    margin-left: -4px;
}

.plan:nth-child(2) .plan_name {
    color: white;
    margin-bottom: -46px;

}


.price_circle {
    border-radius: 50%;
    width: 127px;
    height: 127px;
    border: 2px solid lightgray;
    margin-top: 23px;
    margin-bottom: 10px;
    color: lightgray;
    font-weight: bold;
    position: relative;

}

.plan ul {
    height: 176px;
    color: #959595
}


.plan li {
    width: 326px;
    font-size: 22px;
    height: 44px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan li span {
    padding-left: 8px;
    margin-top: -4px

}

.plan input {
    border-style: none;
    width: 121px;
    height: 35px;
    background-color: #27c7ab;
    border-radius: 7px;
    top: 325px;
    margin-bottom: 17px;
    margin-left: 6px;
    font-size: 16px;
    color: white;

}

.plan:nth-child(2) input {
    margin-bottom: 14px;
    color: #27c7ab;
}

.plan:nth-child(2) li {
    background-color: white;
    height: 47px;

}


.plan:nth-child(2) li:nth-child(2n) {
    background-color: #f1f1f1;
}

.plan:nth-child(2) ul {
    height: 178px;
    margin-top: -13px;
}

.plan:nth-child(2) .price_circle {
    margin-top: 44px;
    margin-bottom: 18px;
}


.plan:nth-child(3) ul li:nth-child(3) span {
    padding-left: 18px;
    margin-top: -3px;
}

.plan:nth-child(3) ul li:nth-child(4) span {
    padding-left: 15px;
    margin-top: 0;
}

.plan:nth-child(2n+1) ul li:nth-child(2n+1) {
    background-color: #e4e4e4;

}

.plan:nth-child(2n+1) ul li:nth-child(2n) {
    background-color: #f1f1f1;
    color: #777777;
}

.plan:nth-child(2), .plan:nth-child(2):after {
    border-color: #27c7ab;
    background-color: #27c7ab;
}

.plan:nth-child(2):before, .plan:nth-child(2) input {
    background-color: white;
}

.plan:nth-child(2) .price_circle {
    border-color: #27c7ab;
    background-color: white;
    color: #27c7ab;
}

.plan:first-child .price_circle > span:nth-child(1) {
    font-size: 45px;
    margin-top: 25px;
    margin-left: 32px;
    position: absolute;
}

.plan:first-child .price_circle span:nth-child(2){
    position: absolute;
    font-size: 42px;
    margin-top: 28px;
    margin-left: 59px;
}

.plan .cents  {
    font-size: 15px;
    top: 1px;
    left: 52px;
    margin-top: 25px;
    margin-left: 32px;
    position: absolute;
}

.plan .price_circle span:last-child{
    position: absolute;
    top: 80px;
    left: 25px;
}

.plan:nth-child(2) .price_circle span:nth-child(1){
    position: absolute;
    font-size: 42px;
    margin-top: 28px;
    margin-left: 35px;
}

.plan:nth-child(3) .price_circle span:nth-child(1){
    position: absolute;
    font-size: 42px;
    margin-top: 28px;
    letter-spacing: 2.5px;
    margin-left: 17px;
}















