* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;


}

.main_width {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}


