* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;


}

.main_width {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

.highlight {
    color: #27c7ab;
}

.text_underline {
    position: relative;
}

.text_underline:after {
    content: "";
    display: block;
    width: 139px;
    height: 7px;
    background-color: #27c7ab;
    position: absolute;
    margin-top: 1px;
}

button {
    border-style: none;
    width: 264px;
    height: 53px;
    background-color:  #27c7ab;
    border-radius: 5px;
    position: absolute;
    top: 325px;
    right: 130px;
}

button span {
    font-size: 23px;
    width: 200px;
    position: absolute;
    top: 14px;
    left: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
}


